* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 50px;
    padding: 30px;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #1992d4;
    color: white;
    font-weight: bold;
}

.dashboard {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-menu li,
.user-setting li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}


.dashboard>p {
    font-size: 35px;
}

img {
    height: 25px;
    width: auto;
}

.user-menu>li,
.user-setting>li {
    font-size: 25px;
    list-style-type: none;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/3;
    grid-row: 1/2;
    align-items: center;
    padding: 20px 50px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-btn {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.btn {
    background-color: #1992d4;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 30px;
    width: 100px;
    font-weight: bold;
}

.search-input {
    width: 40vw;
    height: 25px;
    border-width: 0;
    border-radius: 10px;
    background-color: #e2e8f0;
}

.search-input:focus {
    outline: none;
}

.main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #e2e8f0;
}

h4 {
    margin: 20px;
    font-size: 20px;
}

.projects {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row: 1/3;
}

.cards-container {
    display: grid;
    margin: 0px 20px;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cards-container .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FFFFFF;
    color: black;
    padding: 20px;
    border-radius: 12px;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.announcements {
    display: grid;
    grid-template-rows: auto 1fr;
}

.section-container {
    margin: 0 20px;
}

.border-radius-top {
    border-radius: 12px 12px 0px 0px;
}

.border-radius-bot {
    border-radius: 0px 0px 12px 12px;
}

.section-container .section {
    background-color: white;
    padding: 20px;
}

.trending {
    display: grid;
    grid-template-rows: auto 1fr;
}

.trending-container {
    margin: 0 20px;
}

.trending-container .trending-user {
    padding: 10px;
    background-color: white;
}